//===========================================
//============= colors ======================
//===========================================

$dark: #000;
$light: #fff;
$blueText: #035c8c;
$darkText: #07061d;
$gray: #ababab;

$blueBgGradient: linear-gradient(109.24deg, #1c5bd9 14.38%, #023cb0 80.1%);

//===========================================
//============= dimensions ==================
//===========================================

$contentWidth: rem(1440);
