@use '../abstract' as *;

:root {
	//===========================================
	//============= colors =====================
	//===========================================
	--alpha: #{$dark};
	--bravo: #{$light};
	// --bg: #{$blueBgGradient};
	--bg: #053fb5;
	--text: #{$light};

	//===========================================
	//============= spacers =====================
	//===========================================

	--layout-spacing: max(8vh, 3rem);
	--space-80: #{fluid(20, 50)};

	//===========================================
	//============= dimensions ==================
	//===========================================

	--content-width: #{$contentWidth};

	--next-font: var(--next-font, sans-serif);
}
